*{
    margin: 0;
    padding: 0;
}

header{
    background-color:#2874f0 ;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
nav{
    display: flex;
    width: auto;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 110px;
    padding: 0 25px;
}

nav ul{
    height:58px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
      
}

ul li a{
    text-decoration: none;
    color: white;
}


ul li a:hover{
    color: rgb(127, 185, 219);
    font-weight: bold;
    box-sizing: border-box;

}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}   

.searchbar input{
    width:500px;
    height: 25px;
    border-radius: 4px;
    margin: 0 16px 0 56px;
    padding:0 10px;
}

.btn{
    padding:3px;
    border: 1px solid rgb(169, 196, 231);
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    border-radius: 3px;
    
}

.searchbar btn{
    font-family:'Courier New', Courier, monospace;
    font-weight:900 ;

}

.container{
    min-height: calc(100vh - 13vh - 58px);
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:12px 0;
    overflow: hidden;
    
}

.card{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    width: 90vw;
    margin: 37px auto;
}

.card-item{
    display:inline-flex;
    justify-content: center;
    flex-direction: column;
    margin:0 15px ;
}

.card h2{
   
    margin:10px 53px ;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;

}


footer{
    background-color: #2874f0;
    color:white;
    height:13vh;
    width: auto;
    font-family:'Courier New', Courier, monospace;
}

.center{
    text-align: center;
    padding: 3px;
}

/*
<img src="https://source.unsplash.com/1600x500/?shopping,ecommerce" >
<img src="https://source.unsplash.com/200x200/?cricket" >
*/
